$excel-green-color: #21a366;

.report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    row-gap: 32px;
}

.report-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;

    .form-group label {
        min-width: 123px;
        text-align: right;
    }

    .txtpop {
        min-width: 250px;
    }
}

.tbl-students {
    box-shadow: 0 0 16px rgb(0, 0, 0, 0.2);
    width: 100%;
}

.tbl-students__col-student {
    cursor: pointer;
}

.tbl-students__col-gender {
    width: 1%;
    text-align: center;
}

.tbl-students__gender {
    width: 20px;
}

.tbl-students__footer-total {
    text-align: right;
    font-weight: bold;
}

.tbl-students__footer-no-student {
    text-align: center;
}

.report-op-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px 16px 0 16px;
    column-gap: 16px;
}

.report-op-container__txt-search {
    padding: 13px;
    background-color: #f6f6f6;
    border: 2px solid transparent;
    outline: none;
    border-radius: 8px;
    min-width: 250px;
    transition: all $transition-duration;

    &:focus {
        background-color: transparent;
        border-color: $primary-color;
    }
}

.dropzone-excel {
    display: flex;
    align-items: center;
    position: relative;
    border: 2px dashed $excel-green-color;
    border-radius: 8px;
    padding: 4px 8px;
    transition: border $transition-duration;


    &__logo {
        width: 30px;
        margin-right: 4px;
    }

    label {
        color:$excel-green-color;
        text-transform: uppercase;
        font-weight: 600;
    }

    input[type="file"] {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    &:hover {
        border: 2px solid $excel-green-color;
    }
}

@media screen and (max-width: 444px) {


    .report-form .form-group {
        justify-content: flex-start;

        label {
            text-align: left;
        }
    }
}
