app-footer {
    margin-top: auto;
}

.footer-container {
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-poppins;
    padding: 32px;
}
